= verification_code
#signinButton
  %button{class: "g-signin btn btn-lg btn-success", data: { callback: "signinCallback", clientid: "86493290139.apps.googleusercontent.com", cookiepolicy: "single_host_origin", scope: "https://www.googleapis.com/auth/userinfo.email https://www.googleapis.com/auth/plus.login"}} Sign In

#user-data
